<h1>show</h1>
<tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.id %></td>
          <td><%= room.image_name %></td>
          <td><%= room.name %></td>
          <td><%= room.introduce %></td>
          <td><%= room.single_rate %></td>
          <td><%= room.created_at.to_s(:datetime_jp) %></td>
          <td><%= room.id %></td>
        </tr>
      <% end %>
</tbody>